<ion-header>
  <ion-toolbar>
    <ion-title>Acessorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button  routerLink= "/home">
    <ion-icon name="caret-back-outline"></ion-icon>Voltar</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size = "large" expand = "block" shape= "roud" name="hammer-outline">
            <ion-icon name="hammer-outline"></ion-icon></ion-button>
        </ion-col>        
        <ion-col>
          <ion-button size = "large" expand = "block" shape= "roud" name="hammer-outline">
            <ion-icon name="hammer-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size = "large" expand = "block" shape= "roud" name="hammer-outline">
            <ion-icon name="hammer-outline"></ion-icon></ion-button>
        </ion-col>        
        <ion-col>
          <ion-button size = "large" expand = "block" shape= "roud" name="hammer-outline">
            <ion-icon name="hammer-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size = "large" expand = "block" shape= "roud" name="hammer-outline">
            <ion-icon name="hammer-outline"></ion-icon></ion-button>
        </ion-col>        
        <ion-col>
          <ion-button size = "large" expand = "block" shape= "roud" name="hammer-outline">
            <ion-icon name="hammer-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>    
</ion-content>
